{% extends "base_page.html" %}

{% block title %}VegPhilly | Password reset{% endblock %}

{% block headline %}Password Reset Request{% endblock %}

{% block content %}
<div class="container">
  <p>Please enter your email address below. We will send you instructions for resetting your password.</p>

  <form action="" method="post">{% csrf_token %}
    {{ form.email.errors }}
    <fieldset class="module aligned wide">
      <div class="form-row">
        <label for="id_email">Email address:</label>
        {{ form.email }}
      </div>
    </fieldset>
    
    <div class="submit-row">
      <input type="submit" class="default btn btn-custom" value="Send reset email">
    </div>
  </form>
</div>
{% endblock %}