
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #444444;
}

a {
    color: #d25d09;
}

h1, h2, h3, h4, th {
    font-family: 'Merriweather Sans', sans-serif;
    color: #d25d09;
}

h1 {
    font-size: 28px;
} 

h3 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h5, h6, table.review_summary  {
    color: #2A3655;
}

h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-inner {
   background: #2A3655 !important; 
}

.brand {
    padding-top: 26px;
}

p.vc-nav-item {
    padding-top: 30px;
    color: white;
    font-weight: bold;
    /* Must override text shadow or
     Bootstrap will do what it wants */
    text-shadow: 0pt 0px 0pt white;
}

div#map_canvas {
    width: 100%;
    height: 600px;
}

div#vc-search-borderbox {
    margin-top:21px;
    margin-left:8px;
    margin-right:8px;
    margin-bottom: 21px;
    background-color: rgb(199, 224, 227);
    width: 100%;
}

div#vc-searchbox {
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.hero-unit {
    background: url(/static/images/hero_unit.jpg);
}

.hero-unit h1 {
    font-size: 55px;
}

#footer {
    background-color: #d25d09;
    opacity: .7;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

input#vc-search-input, input#search-input {
    box-shadow: #888888;
    border-color: #888888;
}

.btn-custom {
 background-color: hsl(223,34%,25%) !important;
 color: #fff !important;
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
 -webkit-font-smoothing: antialiased;
}

.btn {
    font-family: 'Average Sans', serif;
    font-weight: bold;
    background-image: none;
}

.btn-warning {
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}

#footer, #top_push, #bottom_push {
    height: 100px;
}

a.uline {
    text-decoration: underline;
}

a.blue {
    color: #2A3655;
}

a.white {
    color: #fff;
}

div#vendor_table {
    height: 650px;
    overflow: auto;
    font-size: 14px;
}

.hero {
    margin-left: 10px;
    margin-right: 10px;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
  background-position: 0 0px;
}
