[program:vegphilly_gunicorn]
directory = /usr/local/vegphilly/
user = vegphilly
autorestart = false
command = /usr/local/vegphilly/manage.py run_gunicorn 127.0.0.1:12000 --workers=4 --log-level=debug --log-file=/var/log/vegphilly/gunicorn-general.log
stdout_logfile = /var/log/vegphilly/gunicorn-access.log
stderr_logfile = /var/log/vegphilly/gunicorn-error.log
