[program:vegphilly_gunicorn]
directory = /usr/local/vegphilly/
user = {{ app_user }}
autorestart = false
command = {{ project_dir }}/manage.py run_gunicorn 127.0.0.1:12000 --workers=4 --log-level=debug --log-file={{ log_dir }}/gunicorn-general.log
stdout_logfile = {{ log_dir }}/gunicorn-access.log
stderr_logfile = {{ log_dir }}/gunicorn-error.log
