DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': '{{ db_name }}',
        'USER': '{{ app_user }}',
        'PASSWORD': '{{ database_password|default("") }}',
        'HOST': '{{ db_host|default("") }}',
        'PORT': '{{ db_port|default("") }}',
    }
}

EMAIL_HOST_USER = '{{ email_username|default("foo") }}'
EMAIL_HOST_PASSWORD = '{{ email_password|default("bar") }}'

TEST_HEADLESS = True

DEBUG = False

ALLOWED_HOSTS = {{ allowed_hosts|default("[]") }}

GOOGLE_ANALYTICS_TRACKING_ID = '{{ google_analytics_tracking_id|default("") }}'
