DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'vegphilly',
        'USER': 'vegphilly',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

EMAIL_HOST_USER = 'foo'
EMAIL_HOST_PASSWORD = 'bar'

TEST_HEADLESS = True
