{% include "roles/app/templates/settings_local.py.j2" %}

DEVELOPMENT_APPS = (
    'debug_toolbar',
    'template_timings_panel',
    'django_extensions',
    'django_pdb',
)

DEVELOPMENT_MIDDLEWARE_CLASSES = (
    'debug_toolbar.middleware.DebugToolbarMiddleware',
    'django_pdb.middleware.PdbMiddleware',
)

INTERNAL_IPS = ('127.0.0.1', '10.0.2.2')

DEBUG_TOOLBAR_PANELS = (
    'debug_toolbar.panels.timer.TimerDebugPanel',
    'debug_toolbar.panels.sql.SQLDebugPanel',
    'debug_toolbar.panels.sql.SQLPanel',
    'template_timings_panel.panels.TemplateTimings.TemplateTimings',
    'debug_toolbar.panels.template.TemplateDebugPanel',
    'debug_toolbar.panels.headers.HeaderDebugPanel',
    'debug_toolbar.panels.request_vars.RequestVarsDebugPanel',
    'debug_toolbar.panels.signals.SignalDebugPanel',
)

IGNORED_TEMPLATES = ['debug_toolbar/*']
TEST_HEADLESS = False

DEBUG=True