{% extends "base.html" %}

{% block title %}VegPhilly | About{% endblock %}

{% block headline %}About{% endblock %}

{% block header_extra %}
<meta name="description" content="Read the story behind VegPhilly, meet the founders and contributors, and see the free software tools used to make the site.">
{% endblock header_extra %}

{% block content %}
<div class="container">
<div class="about-hero row">

  <h3>VegPhilly helps answer the inevitable question:</h3>
  <h2>Where are we going to eat?<h2>
</div>

<div class="grey row">
<div class="span4">
  <p>We founded VegPhilly because we wanted more detailed and accurate information about vegan and vegan-friendly establishments in our city. We want to create the most comprehensive list of vegan restaurants and places that offer vegan options, reviewed and rated.</p>
</div>
<div class="span4">
  <p>We need your help to make the site better. After creating an account, you can add new restaurants, write reviews, and even add your favorite vegan dishes. Please contact us at <a href="mailto:vegphilly@gmail.com">vegphilly@gmail.com</a> if you have any comments, questions, or suggestions.</p>
</div>
<div class="span4">
  <p>VegPhilly is built with free and open source software. Our vision is to produce a framework for a vegan website that is easily deployable in any city. If you are interested in using our code to start a site in your city, contact us or check out our source code on <a href="http://github.com/steventlamb/django-vegancity" target="_blank">Github</a>.</p>
</div>

</div>
  <br>
  <br>
  <i class="icon-long-arrow-right"></i>
  <h3>Team</h3>
  <div class="row" style="text-align: center">
    <br>
    <div class="span4">
      <img class="aboutpic" src="{{ STATIC_URL }}images/steve.jpg">
      <h5>Steve Lamb</h5>
      <h6>Software Engineering</h6>
      <div class="bio"><p>Steve is responsible for all things technical: coding, database administration, and deployment. He initially envisioned VegPhilly after relocating from New York City, where he used similar resources to find vegan food. He loves <a href="http://www.gnu.org/philosophy/free-sw.html" target="_blank" rel="nofollow">free software</a> and all things geek. You can usually find him with his nose in a science fiction book or eating at one of the awesome restaurants listed on this site. He puts <a href="http://en.wikipedia.org/wiki/Nutritional_yeast" target="_blank" rel="nofollow">nutritional yeast</a> on pretty much everything.</p></div>
    </div>
    <div class="span4">
      <img class="aboutpic" src="{{ STATIC_URL }}images/jonathancropped.jpg">
      <h5>Jonathan Farbowitz</h5>
      <h6>Content & QA</h6>
      <div class="bio"><p>Jonathan writes, edits, and updates all content for VegPhilly. He also tests the site regularly for bugs. Jonathan is a freelance copyeditor and proofreader based in Philadelphia. In his spare time, he enjoys baking vegan desserts, fixing bicycles, and drinking tea.</p><p>Check out some of his <a href="http://www.farbowitz.com" target="_blank" rel="nofollow">editorial services</a>.</p></div>
    </div>
    <div class="span4">
      <img class="aboutpic" src="{{ STATIC_URL }}images/zack.jpg">
      <h5>Zack Birmingham</h5>
      <h6>Design</h6>
      <div class="bio"><p>Zack is a Brooklyn-based graphic and web designer. When he's not designing or playing guitar with the New York-based metal band Scowl, he can be found stuffing his face with vegan food (that's most assuredly covered in hot sauce) and biking the mean streets of New York City.
        <br><br>
Check out <a href="http://justadudeintheworld.info/" target="_blank">Zack's Portfolio</a> for more info!
      </p></div>
    </div>
  </div>
  <div class="row" style="text-align: center">
    <br>
    <br>
    <div class="span4">
    <img class="aboutpic" src="{{ STATIC_URL }}images/alexandra.jpg">
    <h5>Alexandra Hoefinger</h5>
    <h6>Front End Development</h6>
    <div class="bio"><p>Alexandra breaks and fixes VegPhilly's front-end code. She works on the web team at <a href="http://www.urbanoutfitters.com" target="_blank">Urban Outfitters</a>, runs an <a href="http://www.philodendrondesigns.etsy.com" target="_blank">Etsy shop</a>, and also contributes to <a href="http://www.shetechphilly.com" target="_blank">She Tech Philly</a>. Find her on twitter: <a href="http://www.twitter.com/ahoefinger" target="_blank" rel="nofollow">@ahoefinger</a></p></div>
    </div>

    <div class="span4">
    <img class="aboutpic" src="{{ STATIC_URL }}images/chris.jpg">
    <h5>Christopher Wimbrow</h5>
    <h6>Software Engineering</h6>
    <div class="bio"><p>Chris is a software developer writing code and fixing bugs for VegPhilly. He enjoys <a href="http://www.flickr.com/photos/ohrwurm/">photography</a>, drinking coffee, running, and trying out new restaurants.</p></div>
    </div>
    <div class="span4">
    <img class="aboutpic" src="{{ STATIC_URL }}images/kim.jpg">
    <h5>Kim Showell</h5>
    <h6>Social Media</h6>
    <div class="bio"><p>Kim is the social media lead and provides editing and general admin support. She enjoys vegan baking, traveling and exploring new places, and treasure hunting at flea markets and thrift shops.</p></div>
    </div>
  </div>
  <hr>
  <br>
  <i class="icon-long-arrow-right"></i>
  <h3>Contributors</h3>
  <div class="row" style="text-align: center">
    <br>
    <div class="span4">
    <h5>Jeff Frankl</h5>
    <div class="bio"><p>Jeff prototyped initial designs for the site; advised on fonts, colors, and branding; and plotted out much of the functionality of the site. See what Jeff's up to at <a href="http://www.frankl.org" target="_blank">frankl.org</a>.</p></div>
  </div>
   <div class="span4">
    <h5>Jeremie Rose Wimbrow</h5>
    <div class="bio"><p>Jeremie is a graphic designer living in Philadelphia who creates visuals for VegPhilly. When she's not designing, she enjoys crafting, cooking, and volunteering at the AIGA Gallery Space and regularly attends punk shows.</p></div>
  </div>
  <div class="span4">
    <h5>You!</h5>
    <div class="bio"><p>Got ideas for how to make this site better? <a href="mailto:vegphilly@gmail.com">Get in touch</a> with us! We'd also love help with distributing flyers and spreading the word about VegPhilly. </p></div>
  </div>
</div>
<br>
  <hr>
  <br>
  <i class="icon-long-arrow-right"></i>
  <h3>Tools</h3>
  <div class="row">
    <div class="span12">
      <br>
      <div class="row" id="vegphilly-icons">
      <img src="{{ STATIC_URL }}images/debian.png" >
      <img src="{{ STATIC_URL }}images/nginx.gif" >
      <img src="{{ STATIC_URL }}images/github.jpg" >
      <img src="{{ STATIC_URL }}images/djangopython.jpg" >
      <img src="{{ STATIC_URL }}images/postgres.png" >
    </div>
    </div>
  </div>
  <br><br>
</div>
{% endblock content %}

{% block body_extra %}
<link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Chivo:400,400italic' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<script>
  $(document).ready(function(){
    $('.carousel').carousel();
  });
</script>

<style type="text/css">

a:hover
{
  color: #d25d09;
}

h2
{
  font-family: 'Chivo';
  font-style: italic;
  font-weight: 400;
  font-size: 250%;
}

h3
{
  font-family: 'Cabin';
  text-transform: uppercase;
  font-size: 150%;
  margin-bottom: 20px;
  display: inline-block;
  color: #8daa8f;
}

h5 {
  padding-top: 12px;
  padding-bottom: 3px;
}

ul {
  margin-right: 125px;
  margin-left: 100px;
}

.aboutpic {
  border-radius: 100%;
  width: 230px;
  height: 230px;
}

.bio {
  padding-left: 35px;
  padding-right: 35px;
  text-align: left;
}

#vegphilly-icons {
  text-align: center;
  margin-top: 20px;
}

#vegphilly-icons img
{
  max-height: 100px;
  margin-left: 3%;
  margin-right: 3%;
}

.about-hero
{
  background-image:url('{{ STATIC_URL }}images/skyline.png');
  height: 400px;
  background-size: cover;
  text-align: right;
  padding-top: 30px;
}

.about-hero h3
{
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: none;
  width: 100%;
  color: #f6c084;
  font-weight: 400;
  font-size: 200%;
}

.grey
{
  background-color: #383638;
}

.grey p
{
  color: #fff;
  padding: 0 10% 15% 10%;
  font-size: 18px;
  line-height: 1.25em;
}

i
{
  color: #383638;
  font-size: 150%;
}
</style>

{% endblock body_extra %}
