{% extends "base.html" %}

{% block headline %}about{% endblock %}

{% block summary %}
meet the team!
{% endblock %}

{% block content %}
<p>Vegancity helps answer the inevitable question: where are we going to eat?</p>

<p>Vegancity was founded by several vegans in Philadelphia, Pennsylvania who wanted more detailed and accurate information about vegan and vegan-friendly establishments in their city. We want Vegancity to be the most comprehensive list of both vegan restaurants and places that offer vegan options. We hope to add forums, and a blog to highlight new vegan foods and places to eat.</p>

<p>We need your help to make the site better. Please contact us if you have any comments, questions, or suggestions.</p>

{% endblock %}
