{% extends "base.html" %}

{% block title %}VegPhilly | About{% endblock %}



{% block headline %}About{% endblock %}

{% block header_extra %}

<meta name="description" content="Read the story behind VegPhilly, meet the founders and contributors, and see the free software tools used to make the site.">
<style type="text/css">

body {
background: url({{STATIC_URL}}images/about_background.jpg);
background-repeat: no-repeat;
background-position: center center;

}

img {
  padding-left: 15px;
  padding-right: 15px;
}

#content_main, #headline_main {
  background-color: #ffffff; 
  opacity: 0.9;
}

#vegphilly-icons {
  text-align: center;
}
</style>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="span12">
      <h5>VegPhilly helps answer the inevitable question: where are we going to eat?</h5>

      <p>We founded VegPhilly because we wanted more detailed and accurate information about vegan and vegan-friendly establishments in our city. We hope to create the most comprehensive list of vegan restaurants and places that offer vegan options, reviewed and rated. We will also feature new vegan foods and places to eat.</p>
      <p>We need your help to make the site better. After creating an account, you can add new restaurants, write reviews, and even add your favorite vegan dishes. Please contact us at <a href="mailto:vegphilly@gmail.com">vegphilly@gmail.com</a> if you have any comments, questions, or suggestions.</p>
<p>VegPhilly is built with free and open source software. Our vision is to produce a framework for a vegan website that is easily-deployable in any city. If you are interested in using our code to start a site in your city, contact us or check out our source code on <a href="https://github.com/steventlamb/django-vegancity" target="_blank">Github</a>.</p>
    </div>
  </div>
  <br>
  <div class="row" style="text-align: center">
    <h3>Meet the Team!</h3>
    <br>    
    <div class="span4">
      <!-- <img src="http://www.gravatar.com/avatar/?size=250"> -->
      <h5>Steve Lamb</h5>
      <p>Technical Lead</p>
      <p>Steve is responsible for all things technical: coding, database administration, and deployment. He initially envisioned VegPhilly after relocating from New York City, where he used similar resources to find vegan food. He loves <a href="http://www.gnu.org/philosophy/free-sw.html">free software</a> and all things geek. You can usually find him with his nose in a science fiction book or eating at one of the awesome restaurants listed on this site. He puts <a href="https://en.wikipedia.org/wiki/Nutritional_yeast" target="_blank">nutritional yeast</a> on pretty much everything.</p>
    </div>
    <div class="span4">    
      <!-- <img src="http://www.gravatar.com/avatar/?size=250"> -->
      <h5>Jonathan Farbowitz</h5>
      <p>Content & QA Lead</p>
      <p>Jonathan writes, edits, and updates all the text for the site. He grew up in Allentown, Pennsylvania. In his spare time he enjoys baking vegan desserts, fixing bicycles, and drinking tea.</p>
    </div>
    <div class="span4">    
      <!-- <img src="http://www.gravatar.com/avatar/?size=250"> -->
      <h5>Zack Birmingham</h5>
      <p>Design Lead</p>
      <p>
        Zack is a Brooklyn-based graphic and web designer. When he's not designing or playing guitar with the New York-based metal band Scowl, he can be found stuffing his face with vegan food (that's most assuredly covered in hot sauce) and biking the mean streets of New York City.
        <br><br>
Check out <a href="http://justadudeintheworld.info/" target="_blank">Zack's Portfolio</a> for more info!        
      </p>
    </div>    
  </div>
  <hr>
  <div class="row">
    <div class="span12">    
    <h4>Contributors</h4>
    <br>
    <h5>Alexandra Hoefinger</h5>
    <p>Alexandra breaks and fixes VegPhilly CSS and contributes to a little bit of everything else. She works at <a href="http://www.bethesdaproject.org" target="_blank">Bethesda Project</a>, runs an <a href="http://www.philodendrondesigns.etsy.com" target="_blank">Etsy shop</a>, and loves <a href="http://www.reddit.com/r/aww" target="blank">r/aww</a>.
    <br>
    <br>
    <h5>Jeff Frankl</h5>
    <p>Jeff prototyped initial designs for the site; advised on fonts, colors, and branding; and plotted out much of the functionality of the site. See what Jeff's up to at <a href="http://www.frankl.org" target="_new">frankl.org</a>.</p>
  </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="row">
    <div class="span12">
      <h4>We're proud to bring you VegPhilly thanks to the following tools:</h4>
      <br>
      <div class="row" id="vegphilly-icons">
      <img src="{{ STATIC_URL }}images/linode.png" style="max-height: 100px;">
      <img src="{{ STATIC_URL }}images/debian.png" style="max-height: 100px;">
      <img src="{{ STATIC_URL }}images/nginx.gif" style="max-height: 100px;">
      <img src="{{ STATIC_URL }}images/python.png" style="max-height: 100px;">
      <img src="{{ STATIC_URL }}images/django.gif" style="max-height: 100px;">
      <img src="{{ STATIC_URL }}images/postgres.png" style="max-height: 100px;">
    </div>
    </div>
  </div>
  <br><br>
{% endblock %}
