{% extends "base.html" %}

{% load url from future %}

{% block summary %}
Account details for <strong>{{ user }}</strong>
{% endblock %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endfor %}
{% endif %}

  <table class="table table-hover">
    <tr>
      <td>First name:</td><td>{{user.first_name}}</td>      
    </tr>
    <tr>
      <td>Last name:</td><td>{{user.last_name}}</td>      
    </tr>
    <tr>
      <td>Email:</td><td>{{user.email}}</td>
    </tr>
    <tr>
      <td>Subscribed to mailing list:</td><td>{{user.get_profile.mailing_list}}</td>
    </tr>
    <tr>
      <td>Bio:</td><td>{{user.get_profile.bio}}</td>
    </tr>
  </table>
  <p><a href="{% url 'account_edit' %}" class="btn btn-custom">Edit your profile</a>
<hr>

<p>
At this time, VegPhilly is run by people; please be patient while we build the robots. 
Unfortunately you cannot change some of your personal information through the site (like your password or email address). Please email us at <a class="uline" href="mailto:vegphilly@gmail.com">vegphilly@gmail.com</a> and we'll sort it out.

Thanks!
</p>
{% endblock %}
