{% extends "base.html" %}

{% load url from future %}

{% block summary %}
Account details for <strong>{{ user }}</strong>
{% endblock %}

{% block content %}
Email:{{user.email}}<br>
Subscribed to mailing list:{{user.mailinglist}}<br>
Bio:{{user.bio}}<br>

<hr>

<p>
VegPhilly is run by people, until we build the robots. 
Unfortunately you cannot change any of your personal information through the site (like your password or email address). Please email us at <a class="uline" href="mailto:vegphilly@gmail.com">vegphilly@gmail.com</a> and we'll sort it out.

Thanks!
</p>
{% endblock %}
