{% extends 'base.html' %}

{% load url from future %}

{% block summary %}
Edit your account details
{% endblock %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}

    <div class="fieldWrapper">
      {{ user_form.first_name.errors }}
      <h6>First name</h6>
      {{ user_form.first_name }}<br>
      <label>Your first name will appear in your reviews</label>
    </div>
    <br>

    <div class="fieldWrapper">
      {{ user_form.last_name.errors }}
      <h6>Last name</h6>
      {{ user_form.last_name }}<br>
      {{ user_form.last_name.help_text }}
      <label>Your last initial will appear in your reviews</label>
    </div>
    <br>

    <div class="fieldWrapper">
      {{ profile_form.bio.errors }}
      <h6>Bio</h6>
      {{ profile_form.bio }}
    </div>
    <br>

    <div class="fieldWrapper">
      {{ profile_form.mailing_list.errors }}
      <h6>Mailing list</h6>
      <label class="checkbox" for="id_mailing_list">
        {{ profile_form.mailing_list }}I would like to be subscribed to the VegPhilly mailing list
      </label>
    </div>

    <br><br>
    <input class="btn btn-custom" type="submit" value="Save">
    Please take note of our <a class="uline" href="#privacyModal" data-toggle="modal">Privacy Policy</a>
    {% include "vegancity/privacy_modal.html" %}

  </form>
{% endblock %}
