{% extends "base.html" %}

{% block title %}VegPhilly | Blog{% endblock %}

{% block header_extra %}


  <meta name="description" content="Read blog posts about the latest VegPhilly news and local vegan and vegetarian restaurant information.">

{% endblock %}

{% block headline %}Blog{% endblock %}

{% block summary %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span6">
      <h4>Welcome to the VegPhilly Blog</h4>
      {% if object_list %}
        {{ object_list.count }} entries.
        <hr/>
        {% for entry in object_list %}
          <h5>{{ entry.title }}</h5>
          <h6>by {{ entry.author }}</h6>
      <p>{{ entry.body|safe }}</p>
      <hr/>
    {% endfor %}
  {% else %}
    <h4>no blog entries.</h4>  
  {% endif %}
    </div>
    <div class="span6 hidden-phone">
      <img src="{{ STATIC_URL }}images/cat.png" alt="VegPhilly's mascot illustration">
    </div>
  </div>

{% endblock %}

