<!-- styles and markup for flyer carousel -->

{% extends "base_page.html" %}

{% block title %}{% endblock %}

{% block headline %}{% endblock %}

{% block content %}
<div class="container">
<h3>Check Out Our Flyers!</h3>
  <br>
  <p>Browse through the gallery below to see our designs, or <a href="#">download and print a sheet of four</a>. If you have ideas for a flyer, we'd love to include your designs here too. <a href="mailto:vegphilly@gmail.com">Let's talk!</a></p>
  <p>
  <br>
  <div id="this-carousel-id" class="carousel slide"></div>
</div>
{% endblock content %}

{% block body_extra %}

<script>
  $(document).ready(function(){
    $('.carousel').carousel();
  });
</script>

<style type="text/css">

.carousel {
  width: 55%;
  min-width: 400px;
  margin: 0 auto;
}

.carousel-item {
  margin: 0 auto;
}

</style>
{% endblock body_extra %}
