{% extends "base.html" %}

{% load url from future %}

{% block headline %}Find Delicious Vegan Food in Philly{% endblock %}

{% block summary %}
{% endblock %}

{% block content %}


  <div class="row">
    <div id="searchbox">	
      <div id="searchbg">
        <div id="search">
		  <div id="searchField">
            <form action="{% url 'vendors' %}" method="get">
              <input id="search-input" type="text" class="stext" placeholder="e.g., south and broad, blackbird pizza, burritos" autofocus="autofocus" name="query" style="width: 60%;">
            </form>
		  </div>
		</div>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="span2">
      <img src="http://frankl.org/vc/images/linedrawings.jpg" alt="Illustration of Pizza, Sushi, and Coffee">
    </div>
    <div class="span5">
	  <div id="hpcopy">
		<em>Hungry?</em> Search for something to eat by location, restaurant, or type of food. Read and post vegan-specific reviews. Get involved in our open, free software website to improve vegan resources in Philadelphia.
	  </div>
    </div>
    <div class="span5">
	  <div id="hpdiscover">
		<div>Discover the Best Vegan Spots</div>
	  </div>
      <hr/>
      <p>Coming Soon...</p>
      <a href="{% url 'vendors' %}">View all...</a>      
    </div>    
  </div>

  <br/>
  <div class="row" style="background-color: #F6F6F6;"> 
	<!-- <h2>On VegPhilly</h2> -->
	<div class="span3">
	  <h3>Neighborhoods</h3>
      <ul>
        {% for neighborhood in neighborhoods %}
          <li><a href="/vendors/?neighborhood={{ neighborhood.name }}">{{ neighborhood.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="span3">
      <h3>Top Five</h3>
      <ul>
        {% for vendor in top_5 %}
          <li><a href="{{ vendor.get_absolute_url }}">{{ vendor.name }}</a></li>
        {% endfor %}
      </ul>
      <h3>Recent Activity</h3>
      <ul>
        {% for review in recent_activity %}
          <li><a href="{{ review.vendor.get_absolute_url }}">{{ review.vendor.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="span6">
      <h3>Featured</h3>
      <p>Coming Soon...</p>
    </div>
  </div>

  <div class="row">
    <hr/>
    <p>Interested in helping out?  Take a look at our <a href="{% url 'about' %}">about</a> page for more info.</p>
    <ul>
      <li>use the <a href="admin">admin</a> interface</li>
    </ul>  
  </div>
{% endblock %}

