{% extends "base.html" %}

{% load url from future %}

{% block headline %}{% endblock %}

{% block summary %}
{% endblock %}

{% block content_flexible %}

  <div class="container">
    <div class="hero-unit">
      <h1>Find delicious vegan food in Philly</h1>
      <br>
      <form action="{% url 'vendors' %}" method="get">
            <input id="vc-search-input" class="input-block-level" type="text" autocomplete="off" placeholder="e.g., south and broad, blackbird pizza, burritos" autofocus="autofocus" name="query">
      </form>
      <p>
        <em>Hungry?</em> Search for something to eat by location, restaurant, or type of food. Read and post vegan-specific reviews. Get involved in our open, free software website to improve vegan resources in Philadelphia.

      </p>
      <br>
<p>
          Or, explore how you can make VegPhilly better:
</p>
<br>
      <div class="row" style="text-align: center;">
		<p>
<h4>
          <a class="btn btn-custom btn-large" href="{% url 'new_vendor' %}">Add a restaurant</a>
          <a class="btn btn-custom btn-large hidden-phone" href="#reviewModal" data-toggle="modal">Write a Review</a>
          <a class="btn btn-custom btn-large" href="{% url 'about' %}">Learn More</a>
</h4>
        </p>
      </div>
    </div>

    <div id="reviewModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="reviewModalLabel">Write a Review</h3>
      </div>
      <div class="modal-body">
        <p>Please visit the detail page for a vendor on the site. From there, click "Write a Review".</p>
        <p>Or, why not write a review of our featured vendor, <a href="/vendors/review/6/">Blackbird Pizza</a>?</p>
      </div>
    </div>


    <div class="row">
      <div class="span6">
        <h3>Featured - Blackbird Pizza</h3>
        <p>Blackbird pizza is awesome. They've been bringing awesome vegan pizza to Philly for years. (insert a better writeup of blackbird pizza here).</p>
        <p><a href="vendors/6/">Read more...</a></p>
      </div>
      <div class="span6">
        <a href="vendors/6/"><img src="{{ STATIC_URL }}images/haymaker.jpg" style="width: 500px" class="img-polaroid"></a>
      </div>
    </div>
  </div>

<br>



    <div style="background-color: #F6F6F6;">
      <div class="container">
        <div class="row"> 
	      <div class="span3">
	        <h3>Neighborhoods</h3>
            <ul>
              {% for neighborhood in neighborhoods %}
                <li><a href="/vendors/?neighborhood={{ neighborhood.id }}">{{ neighborhood.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="span3">
            <h3>Top Five</h3>
            <ul>
              {% for vendor in top_5 %}
                <li><a href="{{ vendor.get_absolute_url }}">{{ vendor.name }}</a></li>
              {% endfor %}
            </ul>
            <h3>Recent Activity</h3>
            <ul>
              {% for review in recent_activity %}
                <li><a href="{{ review.vendor.get_absolute_url }}">{{ review.vendor.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="span3">
	        <h3>Cuisines</h3>
            <ul>
              {% for cuisine in cuisine_tags %}
                <li><a href="/vendors/?cuisine={{ cuisine.name }}">{{ cuisine.description }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="span3">
	        <h3>Features</h3>
            <ul>
              {% for feature in feature_tags %}
                <li><a href="/vendors/?feature={{ feature.name }}">{{ feature.description }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

