{% extends "base_page.html" %}

{% block title %}VegPhilly | Privacy Policy{% endblock %}

{% block header_extra %}
  <meta name="description" content="Review VegPhilly's privacy policy.">
{% endblock header_extra %}


{% block headline %}Privacy Policy{% endblock %}

{% block content %}
<div class="container">

<h4>When you use VegPhilly, you consent to our collection, use, and disclosure of your information as described in this Privacy Policy.</h4>

<h3>1. What information do you collect?</h3>
<p><strong>Account Information:</strong> We collect your name and email addresses if you choose to provide them when creating an account.</p> 
<p><strong>Public Content:</strong> Your reviews and any other content you post to VegPhilly are public. We may display this content on our site, and further distribute it to a wider audience through promotional materials or other methods. Your VegPhilly username may be displayed alongside content you submit.</p>
<p><strong>Activity:</strong> We may collect and store information related to you and your use of VegPhilly, such as your browser type, requested URL, referring URL, browser language, the pages you view, and the date and time of your visit.</p>

<h3>2. How do you use the information?</h3>
We will email you periodic updates if you chose to be a part of our mailing list. We will not share your email address with any third parties. If you did not choose to be a part of our mailing list, we do not anticipate contacting you for any reason, but reserve the right to contact you if any issues related to your account arise. 

<h3>3. What control do users have over their personal data?</h3>
If you would like to terminate your account please email us at vegphilly@gmail.com

<h3>4. How do you protect users' information?</h3>
VegPhilly will not share your personal information with any third party. 

</div>
{% endblock content %}

