{% extends "base.html" %}

{% load url from future %}

{% block summary %}
  {% block action %}Thanks for submitting content!{% endblock %}
{% endblock %}

{% block content %}

</p>
{% block initial_thanks %}
We're glad you submitted some content.
{% endblock initial_thanks %}
</p>

<p>
{% block warning %}
  {% if warning %}
    A moderator will look at your submission to make sure it's legit. It should be 
    posted to the site shortly.<!--<br/>
    Please note that negative reviews are less likely to be approved if they were submitted by 
    an account with an unverified email address. <br/>
    Please consider creating an account with a verified email address.-->
  {% endif %}
{% endblock warning %}
</p>

<br/>

<h4>Now What?</h4>
{% block links_ul %}
<ul>
  <li><a href="{% url 'vendors' %}" class="blue">View all food vendors</a></li>
  <li><a href="{% url 'home' %}" class="blue">Go to our homepage</a></li>  
</ul>
{% endblock links_ul %}

{% endblock %}
