{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>

	<meta charset="utf-8">
	<title>VegPhilly</title>
	<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon.ico">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>                        
	<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">

    {% block header_extra %}
    {% endblock %}


  </head>
  <body>


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a class="brand" href= "{% url 'home' %}"><img src="{{ STATIC_URL }}images/vegphillylogo.jpg" alt="VegPhilly"></a>
              </li>
		      <li class=""><a href="{% url 'vendors' %}"><p class="nav-item" style="padding-left: 450px;">Restaurants</p></a></li>
              <li class=""><a href="{% url 'about' %}"><p class="nav-item">About</p></a></li>
              <li class=""><a href="{% url 'blog' %}"><p class="nav-item">Blog</p></a></li>
              <li class=""><a href="{% url 'vendors' %}"><p class="nav-item"><img src="{{ STATIC_URL }}images/magicon.jpg" alt="Search"></p></a></li>
              <li class="">
                {% if user.is_authenticated %}<a href="{% url 'logout' %}"><p class="nav-item">Hello, {{user}}. Click to logout.</p></a>{% else %}<a href="{% url 'login' %}"><p class="nav-item">Please login!</p></a>{% endif %}
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>




    <div class="container">
      <h1>{% block headline %}{% endblock %}</h1>
      <h3>{% block summary %}{% endblock %}</h3>
    </div>

    <div class="container">
      {% block content %}
      {% endblock %}
      <div class="container">
  </body>
</html>
