{% extends "base.html" %}

{% load url from future %}

{% block body %}
<body data-spy="scroll">

  {% include "vegancity/partials/navbar.html" %}


  <div id="page-wrapper">
    <div id="navbar-push" class="visible-desktop"></div>

    <div class="container" id="headline_main">
      <h1>{% block headline %}{% endblock %}</h1>
      <h3>{% block summary %}{% endblock %}</h3>
    </div>

    {% block content %}
    {% endblock content %}

  </div>

  {% include "vegancity/partials/footer.html" %}

  <link rel="stylesheet" href="{{ STATIC_URL }}css/partials/navbar.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/partials/footer.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base_page.css">

  {% block body_extra %}
  {% endblock body_extra %}

</body>
{% endblock body %}
