{% load url from future %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}vegancity{% endblock %}</title>
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    {% block header_extra %}
    {% endblock %}
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <a class="brand" href="{% url 'home' %}">vegancity</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>
                                <a href="{% url 'home' %}">home</a>
                            </li>
                            <li>
                                <a href="{% url 'vendors' %}">search</a>
                            </li>
                            <li>
                                <a href="{% url 'about' %}">about</a>
                            </li>
                            <li>
                                <a href="{% url 'spread' %}">i want one!</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h1>{% block headline %}{% endblock %}</h1>
            <h3>{% block summary %}{% endblock %}</h3>
        </div>

        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
