#footer {
    /*background-color: #f89406;*/
    background-color: white;
    opacity: 1;
    text-align: center;
    color: #fff;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .7;

}

#footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 14px;
}

#footer li {
  display: inline-block;
  margin-left: 15px;
  font-size: 14px;
}

#footer li:first-child {
  margin-left: 0;
}

#footer li a {
  color: #222;
}

#footer li a i {
  color: #222;
  font-size: 20px;
}

@media (max-width: 787px) {
  #page-wrapper {
    margin-bottom: -50px !important;
  }
  #footer, #page-wrapper:after {
    height: 50px !important;
  }
}
