.navbar-inner {
   background: #2A3655 !important;
}

p.vc-nav-item {
    padding-top: 30px;
    color: white;
    font-weight: bold;
    /* Must override text shadow or
     Bootstrap will do what it wants */
    text-shadow: none !important;
}

.navbar .brand {
  color: white;
  padding-top: 25px;
  text-shadow: none;
  letter-spacing: 0.02em;
}



@media (max-width: 787px) {
  p.vc-nav-item:hover {
      color: #2A3655;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar .btn-navbar {
    background-color: #2A3655;
    text-shadow: none;
    background-image: none;
    border: none;
    box-shadow: none;
    margin-top: 15px;
  }
  .fa-bars {
    font-size: 25px;
  }
  .navbar .nav-collapse .nav.pull-right {
    margin-bottom: 0;
  }
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0;
  }
  p.vc-nav-item {
    padding-top: 10px;
    color: white;
    text-shadow: none !important;
    padding-left: 20px;
    font-weight: 400;
    letter-spacing: .03em;
  }
  .nav-collapse .nav>li {
    border-top: 1px solid #606060;
  }
  .navbar .btn-navbar:hover, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
    color: white;
    background-color: #2A3655;
    opacity: 1;
  }
}

