.navbar-inner {
   background: #2A3655 !important;
}

p.vc-nav-item {
    padding-top: 30px;
    color: white;
    font-weight: bold;
    /* Must override text shadow or
     Bootstrap will do what it wants */
    text-shadow: none !important;
}

@media (max-width: 787px) {
  p.vc-nav-item:hover {
      color: #2A3655;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
  }

p.vc-nav-item:hover {
    color: #c0c1c2;
}

