.clearfix:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #444444;
}

a {
    color: #d25d09;
}

h1, h2, h3, h4, th {
    font-family: 'Merriweather Sans', sans-serif;
    color: #d25d09;
}

h1 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h5, h6, table.review_summary  {
    color: #2A3655;
}

h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

.brand {
    padding-top: 26px;
}


input#vc-search-input, input#search-input {
    box-shadow: #888888;
    border-color: #888888;
}

.btn-custom {
 background-color: hsl(223,34%,25%) !important;
 color: #fff !important;
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
 -webkit-font-smoothing: antialiased;
}

.btn {
    font-family: 'Source Sans Pro', serif;
    font-weight: bold;
    background-image: none;
}

.btn-warning {
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
}

#captionBubble_hyperlink {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    text-overflow: ellipsis;
    color: #2A3655
}

#captionBubble_hyperlink:hover {
    color: #d25d09;
    text-decoration: none;
}

a.uline {
    text-decoration: underline;
}

a.blue {
    color: #2A3655;
}

a.white {
    color: #fff;
}

div#vendor_table {
    height: 650px;
    overflow: auto;
    font-size: 14px;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
  background-position: 0 0px;
}

#vegphilly-icons {
  text-align: center;
  margin-top: 20px;
}

#vegphilly-icons img
{
  max-height: 100px;
  margin-left: 3%;
  margin-right: 3%;
}
