html, body {
    height: 100%;
}

#navbar-push {
    height: 100px;
}

#page-wrapper {
    /* offset height of header */
    margin-bottom: -75px;
    min-height: 100%;
}

* {
    margin: 0;
}

#footer, #page-wrapper:after {
  height: 75px;
}

#page-wrapper:after {
  content: "";
  display: block;
}

div#map_canvas {
    width: 100%;
    height: 600px;
}

