html, body {
    height: 100%;
}

#navbar-push {
    height: 100px;
}

#page-wrapper {
    /* offset height of header */
    margin-bottom: -100px;
    min-height: 100%;
}

* {
    margin: 0;
}

#footer, #page-wrapper:after {
  height: 100px;
}

#page-wrapper:after {
  content: "";
  display: block;
}