.hero-unit {
    background: url(/static/images/hero_unit.jpg);
}

.hero-unit h1 {
    font-size: 55px;
}

.hero {
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 450px) {
    .hero-unit h1 {
        font-size: 32px;
    }
    div#hero-details {
        display: none;
    }
    .hero-unit {
        padding: 40px;
        margin-bottom: 0px;
    }

}